.container {
  justify-content: space-between;
  align-items: center;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 14px;
  color: white;
  background-color: rgb(15, 15, 15);
}

.text {
  opacity: 0.9;
  font-size: 14px;
  font-weight: '500';
}

.buttonContainer {
display: flex;
height: 100%;
}

.acceptButton {
width: 130px;
padding: 12px 20px 12px 20px;
box-sizing: border-box;
cursor: pointer;
background-color: white;
display: block;
border: none;
font-weight: 600;
}


.denyButton {
width: 110px;
padding: 0 20px 0 20px;
box-sizing: border-box;
cursor: pointer;
background-color: rgba(0,0,0,0);
color: white;
display: block;
border: none;
opacity: 0.9;
}

.link {
  text-decoration: underline;
  margin-left: 5px;
}

@media (max-width: 500px) {
  .text {
    font-size: 10px;
    padding: 10px;
    text-align: start;
  }

  .acceptButton {
    width: 100px;
    height: 60px;
  }

  .denyButton {
    width: 90px;
    font-weight: 500;
  }
}