.painting_wrapper {
  width: 90%;
  height: 72.5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 15px;
}

.painting {
  max-width:100%;
  max-height:100%;
  height: auto;
  width:auto;
  -o-object-fit: contain;
     object-fit: contain;
  margin-bottom: 10px;
}

.paintingInfo {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  margin-right: 20px;
}

.paintingName {
  font-weight: 600;
}

@media (max-width: 500px) {
  .painting_wrapper {
    width: 90%;
    height: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 15px;
  }  
}