
.horizontal_painting {
  width: 100%;
  max-width: 750px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.vertical_painting {
  height: 650px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 15px;
}

.painting {
  height: 100%;
  object-fit: contain;
  margin-bottom: 10px;
}

.paintingInfo {
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  margin-right: 20px;
}

.paintingName {
  font-weight: 600;
}
