.heading {
  font-weight: 500;
  font-size: 32px;
  padding-top: 150px;
  margin-bottom: 40px;
  text-align: center;
}

.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
  text-align: center;
  width: 75%;
  max-width: 900px;
  margin: 0px auto 80px auto;
}

.insta_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1300px;
  margin: 0px auto 0px auto;
  padding: 0 5% 0 5%;
  padding-bottom: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5% 5%;
}

.insta_image_container {
  width: 25%;
  padding-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

.insta_image_container:hover {
  -webkit-transform: scale(1.05);
      -ms-transform: scale(1.05);
          transform: scale(1.05);
}

.insta_image {
  width: 100%;
}


@media (max-width: 880px) {
  .heading {
    padding-top: 50px;
  }

  .insta_heading {
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 40px;
    padding-top: 0px;
  }

  .insta_description {
    text-align: start;
    width: 90%;
  }

  .insta_image_container {
    width: 40%;
  }
}

@media (max-width: 500px) {
  .insta_image_container {
    width: 100%;
  }
}
