.main_container {
  height: calc(90vh - 60px);
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  align-items: center;
  padding-top: 60px;
}

.image_container {
  width: 414px;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.image {
  object-fit: cover;
  object-position: 20% center;
}

.image_title {
  margin-top: 10px;
  font-size: 13px;
  text-align: center;
}

.text_container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 98px;
  overflow: auto;
}

.heading {
  font-weight: 500;
  font-size: 32px;
  margin-bottom: 40px;
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 25px;
}

.more_button {
  width: 5%;
  margin: 0px auto 0px auto;
  padding: 8px 30px 8px 30px;
  border: 2.5px solid #000000;
  font-weight: 600;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.1s;
  text-align: center;
}

/* Mobile Version */

@media (max-width: 880px) {

  .main_container {
    width: 100%;
    height: initial;
    flex-direction: column;
    /* align-items: center; */
  }

.image_container {
    width: 100vw;
    height: initial;
  }

  .image {
    height: 350px;
    object-fit: cover;
  }

  .image_title {
    display: none;
  }

  .text_container {
    height: initial;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: initial;
    margin-bottom: 40px;
  }

  .heading {
    display: block;
    font-size: 26px;
    margin-bottom: 40px;
    margin-top: 40px;
    text-align: center;
  }

  .text {
    font-size: 14px;
    height: 100%;
    text-align: center;
  } 

  .more_button {
    display: none;
  }
}

@media (max-width: 500px) {
  .insta_image_container {
    width: 100%;
  }

  .text {
    text-align: start;
  } 
}
