.slidingMenu {
  transform: translateY(-100vh);
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
  position: fixed;
  z-index: 9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255);
  letter-spacing: 0.025em;
  backdrop-filter: blur(45px);
}

.slidingMenu > div {
  margin-top: 5%;
  cursor: pointer;
}

.menu_item {
  opacity: 0.95;
  transition: all 0.1s;
  font-weight: 500;
  font-size: 24px;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.menu_item:hover {
  transform: scale(1.1);
  opacity: 1;
}

.fontAwesomeIcon {
  margin-top: 10% !important;
  font-size: 45px;
}

@media (max-width: 500px) {
  .slidingMenu > div {
    margin-top: 15%;
    font-weight: 500;
  }

  .fontAwesomeIcon {
    margin-top: 25% !important;
  }
}

/* Footer */

.footer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  bottom: 15px;
  font-size: 9px;
  font-weight: 600;
  transition: all 0.1s;
  letter-spacing: 1.5px;
  transition: all 0.1;
}

.footer:hover {
  font-size: 9.25px;
}

